# Managed by Ansible.
[mariadbd]
bind-address = 127.0.0.1
skip-name-resolve
local-infile = 0
max-connections = {{ database_max_connections }}
innodb-buffer-pool-size = {{ database_innodb_buffer_pool_size }}
performance-schema = ON
