AWS_ACCESS_KEY_ID={{ backup_spaces_access_key_id | to_json }}
AWS_SECRET_ACCESS_KEY={{ backup_spaces_secret_access_key | to_json }}
AWS_DEFAULT_REGION={{ backup_spaces_region | to_json }}
RESTIC_PASSWORD={{ backup_restic_password | to_json }}
RESTIC_REPOSITORY={{ backup_repository | to_json }}
RESTIC_CACHE_DIR="/var/cache/lowerduckpond-backup/restic-cache"
