AWS_ACCESS_KEY_ID={{ backup_spaces_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ backup_spaces_secret_access_key | quote }}
AWS_DEFAULT_REGION={{ backup_spaces_region | quote }}
RESTIC_PASSWORD={{ backup_restic_password | quote }}
RESTIC_REPOSITORY={{ backup_repository | quote }}
RESTIC_CACHE_DIR="/var/cache/lowerduckpond-backup/restic-cache"
LOWERDUCKPOND_BACKUP_NODE_NAME={{ backup_node_name | quote }}
LOWERDUCKPOND_BACKUP_STATUS_SCOPE={{ backup_status_scope | quote }}
LOWERDUCKPOND_BACKUP_MAINTENANCE_STATUS_SCOPE={{ backup_maintenance_status_scope | quote }}
LOWERDUCKPOND_BACKUP_KEEP_DAILY={{ backup_keep_daily | string | quote }}
LOWERDUCKPOND_BACKUP_KEEP_WEEKLY={{ backup_keep_weekly | string | quote }}
LOWERDUCKPOND_BACKUP_KEEP_MONTHLY={{ backup_keep_monthly | string | quote }}
